body {
  background: #fff;
}

.badge {
  display: block;
  margin: 20px 0 0 0;
}

.repo-name {
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #aaa;
}

.error {
  background: maroon;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}

.hide {
  display: none;
}

.repo-container {
  margin: 10px;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  background: #eee;
  box-shadow: 0 3px 3px rgba(0,0,0,0.08), 0 10px 20px rgba(0,0,0,0.08);
}

.branches-section {
  display: inline;
  border-radius: 5px;
}